{{#each reading.Trend}}
    <tr>
      <td>
    {{created_at}}
      </td>
    <td>
    {{field1}}
      </td>
      <td>
          {{field2}}
          </td>
      <td>
        {{field3}}
          </td>
</tr>
{{/each}}



