{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weather App Experiment
  </h3>
  <p>
    This Weather App contains the Current Weather Outside and Indoor. It also shows the Rain probability for the next hour.  
  </p>
  <div class="column">
    <img class="aligned middle aligned segment"
      src="https://cdn.glitch.me/8d9f4eaf-3b0d-4476-a2da-c91e5aadf560%2F812d8497-eb07-4ec5-b83c-5303fe246d3e.image.png?v=1639057175174">
  
  </div>
</section>

